* {
	box-sizing: border-box;
}

html {
	font-family: "Luminari", fantasy;
	font-size: 20px;
}

body {
	text-align: center;
    margin-left: 100px;
	margin-right: 100px;
	padding: 0;
	background-color: #f0d6d6;
}

.item {
    border: 1px solid black;
	width: 100%;
}

.word {
	font-size: 2rem;
}

.word-container {
	display: flex;
	justify-content: center;
	margin: 20px;
}

b {
	font-size: 1.3rem;
}